

<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
        <small id="nombre-help" class="form-text text-muted">Campo requerido</small>
    </div>

    <div class="mb-3">
        <label for="apellido" class="form-label">Categoria</label>
        <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Categoria" required>
        <small id="apellido-help" class="form-text text-muted">Campo requerido</small>
    </div>

    <div class="mb-3">
        <label for="rut" class="form-label">Bodega</label>
        <input type="text" class="form-control" name="rut" id="rut" placeholder="Bodega" required>
        <small id="rut-help" class="form-text text-muted">Campo requerido</small>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Enviar</button>
        <button type="reset" class="btn btn-danger">Borrar</button>
    </div>
</form>