{% extends "base/base.html" %}
{% block content %} 
<div class="card text-start">
  <div class="card-body">
    <h4 class="card-title">ESTE ES VISUALIZADOR DE CLIENTES</h4>
    <p class="card-text">CLIENTES</p>
  </div>
</div>

<div class="card">
    <div class="card-header">
        Tabla clientes
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rut</th>
                        <th scope="col">acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">Lomas</td>
                        <td>Turba</td>
                        <td>20.025.256-3</td>
                    </tr>
                    <tr class="">
                        <td scope="row">cr7</td>
                        <td>Messi</td>
                        <td>62.625.325-5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>





{% endblock %}

