{% extends "base/base.html" %}
{% block content %} 

<div class="p-3 mb-5 bg-dark rounded-1">
    <div class="container-fluid py-">
      <h1 class="display-10 fw-bold text-white">Portal Clientes</h1>
    </div>
</div>

<div class="card">
    <div class="card-header p-2 bg-dark text-white d-flex justify-content-between">
        <h2 class="fw-normal fs-3">Clientes</h2>
        <a name="" id="" class="btn btn-primary ml-auto" href="{% url 'agregar_cliente' %}" role="button">Agregar cliente</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Cliente in clientes %}   
                    <tr class="">
                        <td scope="row">{{ Cliente.nombre }}</td>
                        <td>{{ Cliente.apellido }}</td>
                        <td>{{ Cliente.rut }}</td>
                        <td>{{ Cliente.telefono }}</td>
                        <td>
                            <a href="{% url 'editar_cliente' Cliente.id_cliente %}" class="btn btn-info">Editar</a>
                            <a href="{% url 'eliminar_cliente' Cliente.id_cliente %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="pagination">
            <span class="step-links">
                {% if clientes.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ clientes.previous_page_number }}">anterior</a>
                {% endif %}
    
                <span class="current-page">
                    Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}.
                </span>
    
                {% if clientes.has_next %}
                    <a href="?page={{ clientes.next_page_number }}">siguiente</a>
                    <a href="?page={{ clientes.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}
