{% extends 'base/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
 <!--
<div class="p-3 mb-5 bg-dark rounded-1">
    <div class="container-fluid py-">
      <h1 class="display-10 fw-bold text-white">Iniciar Sesion</h1>
    </div>
  </div> -->
<!--
<div class="container-fluid">
  <h3></h3>
  <br/>-->

  
  <form action="" method="post">

  {% csrf_token %}
  <!--input type="text" name="username" id="" placeholder="Nombre de Usuario">
    <br>
    <input type="password" name="password" id="" placeholder="Contraseña">
    <br> 
    <button-- class='btn btn-sm btn-primary float-end' type="submit">Iniciar Sesión</button-->

    <div class="card mx-auto" style="width: 30rem">
      <div class="card-body">

        <h5 class="card-title">Inicio de Sesion</h5>
        <h7 class="card-subtitle mb-2 text-muted">H&A Maquinarias y Equipos</h7>
        {{ form | crispy }}
        <a href={% url 'home' %} class="card-link">Regresar a Inicio</a>
        <button class='btn btn-sm btn-success float-end' type="submit">Iniciar Sesión</button>
      </div>
    </div>

  </form>
</div>
{% endblock content %}