<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-jdzw3FnXweRK5FqEfAl4RSxHTWw+Bha1eZsOnhXyc24YQLhOcsSzG8xTWIStXWzZXUdAV7qM6RGnHDjWqRD9bQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <style>
        body {
            background-image: url('/static/img/fondodef.JPG');
            background-size: cover;
            background-repeat: no-repeat;
         
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            
        }

        main {
            flex-grow: 1;
            padding: 1.5%;
            padding-top: 0.5%;
            margin-bottom: 0%;

        }

        .card {
            margin-top: 4cm;
        }

        footer {
            
            position: relative;
            bottom: 0;
            width: 100%;
            height: 40px;
            background-color: white;
            color: black;
            display: bottom;
        }

        
    </style>

    {% block extra_css %}
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light" style="width: 100%";>
        <div class="container"  style="margin-left: 16px";>
            <a class="navbar-brand" href="{% url 'home' %}">H&A</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0 ml-1">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Inicio<span class="visually-hidden">(current)</span></a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <!-- Clientes Navbar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Clientes</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'clientes' %}">Ver</a>
                            <a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar</a>
                        </div>
                    </li>
                    <!-- Clientes Navbar -->

                    <!-- Arriendo Navbar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Arriendo</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="{% url 'arriendo' %}">Ver</a>
                            <a class="dropdown-item" href="{% url 'agregar_arriendo' %}">Agregar</a>
                        </div>
                    </li>
                    <!-- Arriendo Navbar -->

                    <!-- Maquinaria Navbar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Maquinaria</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href={% url 'maquinaria' %}>Ver</a>
                            <a class="dropdown-item" href={% url 'agregar_maquinaria' %}>Agregar</a>
                        </div>
                    </li>
       
                    {% endif %}
                    <!-- Maquinaria Navbar -->
                </ul>
                <!-- Buscador Navbar -->
                <!--form class="d-flex my-2 my-lg-0">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form-->
                <!-- Buscador Navbar -->
            </div>
        </div>
    </nav>

</header>

<main>
{% block content %} {% endblock %}


<!--
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">

            </p>
        </div>
    </div>
-->
</main>


<footer class="bg-dark text-white py-5" style="position: relative; bottom: 0; width: 100%;">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 text-center">
                <div style="margin-top: -30px;">
                    <a href="https://github.com/tuusuario" class="text-white mx-3">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com/tuusuario/" class="text-white mx-3">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
                <p class="my-2">Francisco Donaire | © Todos Los Derechos Reservados</p>
            </div>
        </div>
    </div>
</footer>





{% block extra_footer %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>